{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block header %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main_menu/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main_menu/css/add_to_bs5.css' %}">
    <link rel="shortcut icon" type="image/x-con" href="{% static 'main_menu/images/broc.ico' %}"/>
    {% block head_sources %}{% endblock %}
</head>
<body>
{% include 'main_menu/includes/nav_bar.html' %}
    {% block content %}{% endblock %}


{% block static %}{% endblock %}
<script src="{% static 'main_menu/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>