<button class="open-canvas-container">
    <svg data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right canvas-open-close" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8Zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5Z"/>
    </svg>
</button>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
    <a href="{% url 'note-create' %}" class="offcanvas-title" id="offcanvasScrollingLabel">Write a post!</a>
        <svg data-bs-dismiss="offcanvas" aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left canvas-open-close" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
        </svg>
    </div>
    <hr>
    <div class="offcanvas-body" style="text-align: center">
        <h5>Sort posts by:</h5>
        <div class="sort-name">
            <a href="{{ name_sort }}" class="offcanvas-title">Name</a>
        </div>
        <div class="sort-date">
            <a href="{{ date_sort }}" class="offcanvas-title">Time</a>
        </div>

    </div>
</div>
<script>
    let params = new URLSearchParams(location.search);
    let sort_by_date = document.querySelector('.sort-date a');
    let sort_by_name = document.querySelector('.sort-name a');
    if(params.get('name_sort') === 'forward'){
        sort_by_name.href = sort_by_name.href.replace('forward', 'reverse');
    }
    else {
        sort_by_name.href = sort_by_name.href.replace('reverse', 'forward');
    }
    if(params.get('date_sort') === 'forward'){
        sort_by_date.href = sort_by_date.href.replace('forward', 'reverse');
    }
    else {
        sort_by_date.href = sort_by_date.href.replace('reverse', 'forward');
    }
</script>